<h2>{{greeting}}</h2>
<h3 *ngIf="isLoading">LOADING...</h3>
<img *ngIf="dogsImages" [src]="dogsImages" />
<div>
  <button (click)="toggleVisibility()" type="button">alerar visibilidade</button>
</div>

<div *ngIf="isVisible; else compElse">
  <button (click)="sayHello()" type="button">Alô</button>
</div>

<ng-template #compElse>
  <button (click)="sayGoodbye()" type="button">Tchau</button>
</ng-template>

<ul>
  <li *ngFor="let lenguages of programingLanguages">{{lenguages}}</li>
</ul>

<ul>
  <li *ngFor="let people of peoples">{{people.name}} : {{people.age}}</li>
</ul>